*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --border-gray:1px solid #c1c1c1;
    --border-radius:10px;
    --bgc-primary:rgb(246, 246, 246);
    --bgc-secondary:teal;

}
body{
    background-color:white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 5px 2px;
    font-size: larger;
    user-select: none;
    position: fixed;
    top: 0px;
    z-index: 99999;
    background-color: #ffffff77;
    border-bottom: var(--border-gray);
}
.svg-group svg{
    margin: 10px;
}
button{
    border: none;
    background-color: transparent;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#edit_bar{
    border: var(--border-gray);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffaa;
    position: fixed;
    top: 8px;
    z-index: 9999999;
}
select{
    padding: 2px 0px;
    border: none;
    outline: none;
    /* -webkit-appearance: none; */
    appearance: none;
    background-color: transparent;
}
.rborder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: var(--border-gray);
    padding-left: 10px;
    margin-left: 10px;
}
#blokMenu{
    border-right: var(--border-gray);
    padding-right: 10px;
    margin-right: 10px; 
    display: none;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: var(--bgc-secondary);
}

#menu{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff77;
    width: 0px;
    height: calc(100vh - 60px);
    z-index: 99999;
    padding: 5px 0; 
    border-right: var(--border-gray);
    /* border-radius: var(--border-radius);
    box-shadow: 0 0 3px 0 gray; */
    position: relative;
    top: 60px;
    overflow: hidden;
    transition: width .4s ease-in-out;

    white-space: nowrap;
}

#menu li{
    list-style: none;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    user-select: none;

}#menu li svg{
    margin-right: 5px;
}
#menu div{
width: 100%;
}
#addNewBlockBtn{
    width: 95%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: var(--border-gray);
    border-radius:10px ;
    align-self: center;
    color: #575757;
    white-space: nowrap;
}#addNewBlockBtn:hover{
background-color: tomato;
color: #fff;
border: none;
}#addNewBlockBtn:active{
    scale: .98;
}
#blocks{
height: calc(100vh - 60px);

padding:0 10px;
padding-bottom: 5px;
box-sizing: border-box;
overflow-y: scroll;
}
#blocks li{
    background-color: #f3f3f371;
    border-radius: 5px;
    padding: 15px 45px 15px 15px;
    height: 50px;
    margin: 5px 0;
    cursor: pointer;
    overflow: hidden;
}
#blocks li:active{
    cursor:grabbing;
}
#blocks li:hover{
   background-color: #e7e7e7;
}
#tools_bar{
    height: 60px;
    width: 250px;
    display: none;
    /* grid-template-columns: auto auto; */
    align-items: center;
    justify-content: center;
    border-top: var(--border-gray);
}
#tools_bar li{
font-size:small;
cursor: pointer;
padding: 10px;
margin: 5px;
border-radius: 10px;
/* border: var(--border-gray); */
display: flex;
align-items: center;
justify-content: center;
}
#tools_bar li:hover{
background-color: tomato;
color: #fff;
}

#menuToggle{
}
#menuToggle:hover{
}
#menuToggle:active{
}


#saveAndPublishBtn{
    width: 100px;
    height: 49px;
    position: fixed;
    right: 0px;
    top: 7px;
    z-index: 999999999;
    /* border: var(--border-gray);
    border-radius: var(--border-radius); */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}
iframe{
    border: var(--border-gray);  
    /* border-radius: 10px 10px 0 0 ; */
    /* box-shadow: 0 0 2px 3px #e1e1e1; */
    position: fixed;
    height: calc(100% - 65px);
    top: 65px;
    z-index: 0;
}

.attributes{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 0px;
    height:calc(100vh - 64px);
    cursor: pointer;
    border-left: var(--border-gray);
    border-top: var(--border-gray);
    background-color: #fff;
    overflow-x: hidden;
    position: absolute;
    padding: 0px;
    right: 0;
    bottom: 0;
    transition: all .1s linear;
}
.attributes div{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border: var(--border-gray);
    border-radius: 10px;
    padding: 15px;
}
#clickFrameContentBtn{
    /* color: tomato; */
}
.fontsContainer{
    display: none;
    position: absolute;
    background-color: #fff;
    top: 60px;
    width: 400px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    border: var(--border-gray);
    border-radius: 10px;
    padding: 10px;
}
.fontsContainer button{
    font-size: xx-large;
}
.fontsContainer button,.fontColorContainer button{
    cursor: pointer;
    font-size: xx-large;
}
.fontColorContainer button{
    font-weight: 900;
}
.fontsContainer button:hover, .fontColorContainer button:hover{
    scale: 1.1;
}

.fontColorContainer,.fontBackgroundColorContainer{
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 60px;
    width: 400px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    border: var(--border-gray);
    border-radius: 10px;
    padding: 10px;
}
.createLinkContainer{
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    top: 60px;
    width: 200px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    border: var(--border-gray);
    border-radius: 10px;
    padding: 10px;
}
.createLinkContainer input
{
    padding: 5px 10px;
    outline: none;
    color: gray;
    margin: 15px 0;
    border: var(--border-gray);
    border-radius: var(--border-radius);
}
.createLinkContainer button
{
    background-color: tomato;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    width: 50%;
}


/* sayfalama islemi select pages */

select[name="pages"]{
    font-weight: bolder;
}
