*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color:white;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
    font-size: larger;
    user-select: none;
    
}
button{
    border: none;
    background-color: transparent;
    margin:0 5px;
}

#edit_bar{
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
select{
    padding: 3px 0px;
    border: none;
    outline: none;
}
.rborder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #d2d2d2;
    padding-left: 10px;
    margin-left: 10px;
}
#blokMenu{
    border-right: 1px solid #d2d2d2;
    padding-right: 10px;
    margin-right: 10px; 
}
#action_bar{
    /* position: absolute;
    right: 20px; */
}
#draft{
    color: tomato;
    border: 1px solid tomato;
    border-radius: 10px;
    padding: 10px 15px;
}
#publish{
    color: green;
    border :1px solid green;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0;
}
#draft:hover{
    background-color: tomato;
    color: white;
}
#publish:hover{
    background-color: green;
    color: white;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    

}
#menu{
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    height:100vh;
    padding-left: 10px;
    padding-top: 20px;
    cursor: pointer;
    border-right: 1px solid #d2d2d2;
}
#menu li{
    list-style: none;
    padding: 15px 0;
    display: flex;
    align-items: center;
    
    user-select: none;
    width: 100%;
    color: black;
}#menu li svg{
    margin-right: 5px;
}
#blocks{
margin-top: 5px;
padding: 10px 0;
padding-bottom: 50px;
box-sizing: border-box;
}
#blocks li{
    border-radius: 5px;
    padding: 15px 25px 15px 15px;
    cursor: pointer;
}
#blocks li:active{
    cursor:grabbing;
}
#blocks li:hover{
   color: tomato;
}
#tools_bar{
    padding-left: 15px;
}
.wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
    height: 100vh;
    position: relative;
}
iframe{
    height: calc(100vh - 50px);
    border: 1px solid #d2d2d2;  
}

.attributes{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 250px;
    height:100vh;
    padding-left: 10px;
    padding-top: 20px;
    cursor: pointer;
    border-left: 1px solid #d2d2d2;
}
.attributes div{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: 15px;
}

.fontsContainer{
    display: none;
    position: absolute;
    background-color: #fff;
    top: 60px;
    width: 600px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: 10px;
}
.fontsContainer button{
    font-size: xx-large;
}
.fontsContainer button,.fontColorContainer button{
    cursor: pointer;
}
.fontColorContainer button{
    cursor: pointer;
    font-weight: 900;
    font-size: 34px;
}
.fontsContainer button:hover, .fontColorContainer button:hover{
    scale: 1.1;
}
.fontColorContainer{
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 60px;
    width: 400px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: 10px;
}