::-webkit-scrollbar{
    width: 0px;
}
*{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.editable{
    padding: 3px;
}
img{
    width: 100%;
    display: block;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid #fafafa;
    padding: 0 15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav li{
    list-style: none;
    margin: 0 10px;
}
aside{
    width: 100%;
    background-color: darkseagreen;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section div{
    background-color: indianred;
    flex: 1;
    height: 200px;
    margin: 10px;

}

#block1, #block2, #block3, #about, #project{
    padding: 15px;
}
#block1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin: 10px;
    border-radius: 10px;
}
#block1 div{
    width: 100%;
    flex: 1;

    margin: 0px 20px;
}


@media screen and (max-width:425px) {
    header{
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header nav li{
        display: none;
    }
    header nav::before{
        width: fit-content;
        height: fit-content;
        content:'\2261';
        font-size: 32px;
        display: block;
        padding: 0;
    }
    header nav:active{
        scale: 1.1;
    }
    #block1{
        display: flex;
        flex-direction: column;
    }
    #block1 div{
        margin: 20px 0;
    }
}
@media screen and (min-width:1220px) {
    #block1, #block2, #block3, #about, #project, header{
        max-width: 1220px;
        margin: 0 auto;
    }
    #block1{
        max-width: 1000px;
        background-color: gold;
        border-radius: 20px;
    }
}
